/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-webkit-keyframes btnRotate {
  0% {
    -webkit-transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
  }
}
/* line 6, ../sass/main.scss */
html,
body {
  font-family: 'Microsoft YaHei', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #000;
  background: #fff;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* line 17, ../sass/main.scss */
img {
  display: block;
}

/* line 21, ../sass/main.scss */
a {
  color: #fff;
}
/* line 23, ../sass/main.scss */
a:hover {
  color: #fff;
  text-decoration: none;
}
/* line 27, ../sass/main.scss */
a:active {
  color: #fff;
  text-decoration: none;
}
/* line 31, ../sass/main.scss */
a:visited {
  color: #fff;
  text-decoration: none;
}
/* line 35, ../sass/main.scss */
a:link {
  color: #fff;
  text-decoration: none;
}

/*------------------*/
/* line 42, ../sass/main.scss */
.navbar-blue {
  min-height: 80px;
  margin-bottom: 0;
  background-color: #4c96d0;
  border-color: #4c96bd;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 51, ../sass/main.scss */
.navbar-blue .navbar-brand {
  color: #fff;
  font-size: 18px;
  height: 80px;
  line-height: 50px;
}
/* line 56, ../sass/main.scss */
.navbar-blue .navbar-brand:hover {
  color: #fff;
}
/* line 62, ../sass/main.scss */
.navbar-blue .nav > li > a {
  color: #fff;
  font-size: 16px;
  height: 80px;
  line-height: 60px;
}
/* line 67, ../sass/main.scss */
.navbar-blue .nav > li > a:hover {
  color: #fff;
}
/* line 70, ../sass/main.scss */
.navbar-blue .nav > li > a:visited {
  color: #fff;
}
/* line 73, ../sass/main.scss */
.navbar-blue .nav > li > a:link {
  color: #fff;
}
/* line 76, ../sass/main.scss */
.navbar-blue .nav > li > a:active {
  color: #fff;
}
/* line 84, ../sass/main.scss */
.navbar-blue .navbar-nav > .open > a {
  background-color: #4282b2;
  color: #fff;
}
/* line 87, ../sass/main.scss */
.navbar-blue .navbar-nav > .open > a:focus {
  background-color: #4282b2;
  color: #fff;
}
/* line 91, ../sass/main.scss */
.navbar-blue .navbar-nav > .open > a:hover {
  background-color: #4282b2;
  color: #fff;
}
/* line 98, ../sass/main.scss */
.navbar-blue .navbar-toggle {
  margin-top: 22px;
  background-color: #fff;
  border-color: #4c96d0;
}
/* line 102, ../sass/main.scss */
.navbar-blue .navbar-toggle .icon-bar {
  background-color: #4c96d0;
}

/* line 107, ../sass/main.scss */
.dialog {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 400px;
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 114, ../sass/main.scss */
.dialog h2 {
  line-height: 36px;
  border-bottom: 1px solid #4c96bd;
  background-color: #4c96d0;
  height: 36px;
  color: #fff;
  padding: 0 10px 0 20px;
}
/* line 121, ../sass/main.scss */
.dialog h2 span {
  float: left;
  font-size: 14px;
}
/* line 125, ../sass/main.scss */
.dialog h2 a {
  float: right;
  font-size: 20px;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 17px;
  border: 1px solid #fff;
  margin-top: 7px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 136, ../sass/main.scss */
.dialog h2 a:hover {
  -webkit-animation: btnRotate 0.4s ease-out 1;
}
/* line 141, ../sass/main.scss */
.dialog .dialog-content {
  padding: 20px;
  background-color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 145, ../sass/main.scss */
.dialog .dialog-content .search-text {
  border: 1px solid #ccc;
}
/* line 147, ../sass/main.scss */
.dialog .dialog-content .search-text li {
  line-height: 24px;
}
/* line 149, ../sass/main.scss */
.dialog .dialog-content .search-text li a {
  display: block;
  padding: 5px 15px;
  font-size: 14px;
  color: #4c96d0;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  border-bottom: 1px solid #ccc;
}
/* line 156, ../sass/main.scss */
.dialog .dialog-content .search-text li a:hover {
  background-color: #4c96d0;
  color: #fff;
}
/* line 162, ../sass/main.scss */
.dialog .dialog-content .search-text li:last-child a {
  border-bottom: 0;
}
/* line 168, ../sass/main.scss */
.dialog .dialog-content .table-port {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  max-height: 240px;
  overflow-y: scroll;
}
/* line 174, ../sass/main.scss */
.dialog .dialog-content .table-port td {
  text-align: center;
  font-size: 14px;
  vertical-align: middle;
  border-left: 1px solid #ddd;
  width: 33%;
  padding: 0;
}
/* line 181, ../sass/main.scss */
.dialog .dialog-content .table-port td:first-child {
  border-left: 0;
}
/* line 185, ../sass/main.scss */
.dialog .dialog-content .table-port th {
  text-align: center;
  font-size: 14px;
  vertical-align: middle;
  border-left: 1px solid #ddd;
  width: 33%;
}
/* line 191, ../sass/main.scss */
.dialog .dialog-content .table-port th:first-child {
  border-left: 0;
}
/* line 195, ../sass/main.scss */
.dialog .dialog-content .table-port a {
  color: #4c96d0;
  border: 0;
  display: block;
  padding: 8px;
}
/* line 200, ../sass/main.scss */
.dialog .dialog-content .table-port a:hover {
  background-color: #4c96d0;
  color: #fff;
}
/* line 206, ../sass/main.scss */
.dialog .dialog-content .state {
  padding: 10px 6px;
  display: inline-block;
}

@media (max-width: 767px) {
  /* line 214, ../sass/main.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
    font-size: 14px;
    line-height: 40px;
    background-color: #4282b2;
    border-bottom: 1px solid #fff;
  }
  /* line 220, ../sass/main.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #fff;
  }

  /* line 224, ../sass/main.scss */
  .dialog {
    width: 92%;
    left: 0;
    top: 20px;
    margin: 0 4%;
  }
}
@media (min-width: 768px) {
  /* line 232, ../sass/main.scss */
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
